In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from acquire import new_zillow_data, get_zillow_data

### 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [2]:
df = new_zillow_data()
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [3]:
df.shape

(77580, 68)

In [4]:
df.longitude.isnull().sum()

0

In [5]:
# This will allow for all columns to be shown in your df
#pd.set_option('display.max_columns', None)

In [6]:
df.isna().sum()

parcelid                      0
typeconstructiontypeid    77357
storytypeid               77530
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77565
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77530
typeconstructiondesc      77357
Length: 68, dtype: int64

In [7]:
df.isnull().sum()

parcelid                      0
typeconstructiontypeid    77357
storytypeid               77530
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77565
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77530
typeconstructiondesc      77357
Length: 68, dtype: int64

In [8]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,logerror
count,7.758000e+04,223.000000,50.0,77580.000000,49572.000000,15.000000,207.000000,25007.000000,7.758000e+04,50.000000,...,17599.000000,172.0,7.746500e+04,7.757900e+04,77580.0,7.757800e+04,77575.000000,2900.000000,7.733300e+04,77580.000000
mean,1.300828e+07,6.040359,7.0,261.824465,3.921811,3.933333,7.386473,1.812013,1.495404e+06,679.720000,...,1.434286,1.0,1.892796e+05,4.901476e+05,2016.0,3.011500e+05,5995.927626,14.088276,6.049667e+13,0.016800
std,3.519376e+06,0.556035,0.0,5.141564,3.594770,0.258199,2.728030,2.965768,8.609700e+05,689.703546,...,0.544515,0.0,2.304095e+05,6.537942e+05,0.0,4.927219e+05,7628.816490,2.181281,1.533329e+12,0.170739
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,1.000000,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,-4.655420
25%,1.153820e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.521430e+05,273.000000,...,1.000000,1.0,8.417100e+04,2.068990e+05,2016.0,8.529325e+04,2712.650000,14.000000,6.037311e+13,-0.024310
50%,1.253056e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.498256e+06,515.000000,...,1.000000,1.0,1.364020e+05,3.588780e+05,2016.0,2.031810e+05,4448.230000,15.000000,6.037603e+13,0.006675
75%,1.421135e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240950e+06,796.500000,...,2.000000,1.0,2.187340e+05,5.690000e+05,2016.0,3.667398e+05,6926.885000,15.000000,6.059042e+13,0.039291
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,6.000000,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,5.262999

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77580 entries, 0 to 77579
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77580 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77580 non-null  float64
 4   heatingorsystemtypeid         49572 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77580 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77580 non-null  float64
 11  bedroomcnt                    77580 non-null  float64
 12  buildingqualitytypeid         49810 non-null  float64
 13  calculatedbathnbr             76964 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77379 non-null  float64
 17  finishedsquarefeet12          73924 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77580 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76964 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77580 non-null  float64
 29  longitude                     77580 non-null  float64
 30  lotsizesquarefeet             69322 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77580 non-null  object
 37  propertyzoningdesc            50477 non-null  object
 38  rawcensustractandblock        77580 non-null  float64
 39  regionidcity                  76108 non-null  float64
 40  regionidcounty                77580 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77530 non-null  float64
 43  roomcnt                       77580 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50704 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77310 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77465 non-null  float64
 52  taxvaluedollarcnt             77579 non-null  float64
 53  assessmentyear                77580 non-null  float64
 54  landtaxvaluedollarcnt         77578 non-null  float64
 55  taxamount                     77575 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77333 non-null  float64
 59  logerror                      77580 non-null  float64
 60  transactiondate               77580 non-null  object
 61  airconditioningdesc           25007 non-null  object
 62  architecturalstyledesc        207 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49572 non-null  object
 65  propertylandusedesc           77580 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
missing_row_value = df.isnull().sum()
missing_row_value

parcelid                      0
typeconstructiontypeid    77357
storytypeid               77530
propertylandusetypeid         0
heatingorsystemtypeid     28008
                          ...
buildingclassdesc         77565
heatingorsystemdesc       28008
propertylandusedesc           0
storydesc                 77530
typeconstructiondesc      77357
Length: 68, dtype: int64

In [18]:
percent_row_missing = round(df.isnull().sum()/len(df),2)*100
percent_row_missing

parcelid                    0.0
typeconstructiontypeid    100.0
storytypeid               100.0
propertylandusetypeid       0.0
heatingorsystemtypeid      36.0
                          ...
buildingclassdesc         100.0
heatingorsystemdesc        36.0
propertylandusedesc         0.0
storydesc                 100.0
typeconstructiondesc      100.0
Length: 68, dtype: float64

In [20]:
def missing_values(df):
    # Gives value counts of missing rows
    missing_row_value = df.isnull().sum()
    # Gives the percentage of rows missing
    percent_row_missing = round(df.isnull().sum()/len(df),2)*100
    # Creates a new df for the missing rows and percent missing
    missing_df = pd.DataFrame({'missing_rows' : missing_row_value, 'percent_missing' : percent_row_missing})
    return missing_df
missing_values(df)

                        missing_rows  percent_missing
parcelid                           0              0.0
typeconstructiontypeid         77357            100.0
storytypeid                    77530            100.0
propertylandusetypeid              0              0.0
heatingorsystemtypeid          28008             36.0
...                              ...              ...
buildingclassdesc              77565            100.0
heatingorsystemdesc            28008             36.0
propertylandusedesc                0              0.0
storydesc                      77530            100.0
typeconstructiondesc           77357            100.0

[68 rows x 2 columns]

In [28]:
missing_values(df).head(30)

                              missing_rows  percent_missing
parcelid                                 0              0.0
typeconstructiontypeid               77357            100.0
storytypeid                          77530            100.0
propertylandusetypeid                    0              0.0
heatingorsystemtypeid                28008             36.0
buildingclasstypeid                  77565            100.0
architecturalstyletypeid             77373            100.0
airconditioningtypeid                52573             68.0
id                                       0              0.0
basementsqft                         77530            100.0
bathroomcnt                              0              0.0
bedroomcnt                               0              0.0
buildingqualitytypeid                27770             36.0
calculatedbathnbr                      616              1.0
decktypeid                           76966             99.0
finishedfloor1squarefeet             71543             92.0
calculatedfinishedsquarefeet           201              0.0
finishedsquarefeet12                  3656              5.0
finishedsquarefeet13                 77538            100.0
finishedsquarefeet15                 74553             96.0
finishedsquarefeet50                 71543             92.0
finishedsquarefeet6                  77194            100.0
fips                                     0              0.0
fireplacecnt                         69291             89.0
fullbathcnt                            616              1.0
garagecarcnt                         52060             67.0
garagetotalsqft                      52060             67.0
hashottuborspa                       76041             98.0
latitude                                 0              0.0
longitude                                0              0.0

In [29]:
missing_values(df).tail(30)

                            missing_rows  percent_missing
rawcensustractandblock                 0              0.0
regionidcity                        1472              2.0
regionidcounty                         0              0.0
regionidneighborhood               46606             60.0
regionidzip                           50              0.0
roomcnt                                0              0.0
threequarterbathnbr                67474             87.0
unitcnt                            26876             35.0
yardbuildingsqft17                 75187             97.0
yardbuildingsqft26                 77510            100.0
yearbuilt                            270              0.0
numberofstories                    59981             77.0
fireplaceflag                      77408            100.0
structuretaxvaluedollarcnt           115              0.0
taxvaluedollarcnt                      1              0.0
assessmentyear                         0              0.0
landtaxvaluedollarcnt                  2              0.0
taxamount                              5              0.0
taxdelinquencyflag                 74680             96.0
taxdelinquencyyear                 74680             96.0
censustractandblock                  247              0.0
logerror                               0              0.0
transactiondate                        0              0.0
airconditioningdesc                52573             68.0
architecturalstyledesc             77373            100.0
buildingclassdesc                  77565            100.0
heatingorsystemdesc                28008             36.0
propertylandusedesc                    0              0.0
storydesc                          77530            100.0
typeconstructiondesc               77357            100.0

There are a lot of rows missing data. Going to set a threshold if more than 5% is missing, to drop.

### 4.Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [45]:
# df.loc[ : ].count() means we're looking at every row to count the number of null values in each row 
# .isna() shows if there are booleans if there is nulls. .any() looks for true values from the isna()
# summing the count of trues with .count()
missing_cols = df.loc[:, df.isna().any()].count()
missing_cols

typeconstructiontypeid            223
storytypeid                        50
heatingorsystemtypeid           49572
buildingclasstypeid                15
architecturalstyletypeid          207
airconditioningtypeid           25007
basementsqft                       50
buildingqualitytypeid           49810
calculatedbathnbr               76964
decktypeid                        614
finishedfloor1squarefeet         6037
calculatedfinishedsquarefeet    77379
finishedsquarefeet12            73924
finishedsquarefeet13               42
finishedsquarefeet15             3027
finishedsquarefeet50             6037
finishedsquarefeet6               386
fireplacecnt                     8289
fullbathcnt                     76964
garagecarcnt                    25520
garagetotalsqft                 25520
hashottuborspa                   1539
lotsizesquarefeet               69322
poolcnt                         16174
poolsizesum                       869
pooltypeid10                      465
pooltypeid2                      1074
pooltypeid7                     15079
propertyzoningdesc              50477
regionidcity                    76108
regionidneighborhood            30974
regionidzip                     77530
threequarterbathnbr             10106
unitcnt                         50704
yardbuildingsqft17               2393
yardbuildingsqft26                 70
yearbuilt                       77310
numberofstories                 17599
fireplaceflag                     172
structuretaxvaluedollarcnt      77465
taxvaluedollarcnt               77579
landtaxvaluedollarcnt           77578
taxamount                       77575
taxdelinquencyflag               2900
taxdelinquencyyear               2900
censustractandblock             77333
airconditioningdesc             25007
architecturalstyledesc            207
buildingclassdesc                  15
heatingorsystemdesc             49572
storydesc                          50
typeconstructiondesc              223
dtype: int64

In [51]:
len(df.index)

77580

In [48]:
# len(df.index) shows the number of rows
percent_cols_missing = round(missing_cols/ len(df.index) *100 ,2)
percent_cols_missing

typeconstructiontypeid            0.29
storytypeid                       0.06
heatingorsystemtypeid            63.90
buildingclasstypeid               0.02
architecturalstyletypeid          0.27
airconditioningtypeid            32.23
basementsqft                      0.06
buildingqualitytypeid            64.20
calculatedbathnbr                99.21
decktypeid                        0.79
finishedfloor1squarefeet          7.78
calculatedfinishedsquarefeet     99.74
finishedsquarefeet12             95.29
finishedsquarefeet13              0.05
finishedsquarefeet15              3.90
finishedsquarefeet50              7.78
finishedsquarefeet6               0.50
fireplacecnt                     10.68
fullbathcnt                      99.21
garagecarcnt                     32.90
garagetotalsqft                  32.90
hashottuborspa                    1.98
lotsizesquarefeet                89.36
poolcnt                          20.85
poolsizesum                       1.12
pooltypeid10                      0.60
pooltypeid2                       1.38
pooltypeid7                      19.44
propertyzoningdesc               65.06
regionidcity                     98.10
regionidneighborhood             39.93
regionidzip                      99.94
threequarterbathnbr              13.03
unitcnt                          65.36
yardbuildingsqft17                3.08
yardbuildingsqft26                0.09
yearbuilt                        99.65
numberofstories                  22.68
fireplaceflag                     0.22
structuretaxvaluedollarcnt       99.85
taxvaluedollarcnt               100.00
landtaxvaluedollarcnt           100.00
taxamount                        99.99
taxdelinquencyflag                3.74
taxdelinquencyyear                3.74
censustractandblock              99.68
airconditioningdesc              32.23
architecturalstyledesc            0.27
buildingclassdesc                 0.02
heatingorsystemdesc              63.90
storydesc                         0.06
typeconstructiondesc              0.29
dtype: float64

In [52]:
def missing_cols(df):
    # df.loc[ : ].count() means we're looking at every row to count the number of null values in each row 
    # .isna() shows if there are booleans if there is nulls. .any() looks for true values from the isna()
    # summing the count of trues with .count()
    missing_cols = df.loc[:, df.isna().any()].count()
    # len(df.index) shows the number of rows
    percent_cols_missing = round(missing_cols/ len(df.index) *100 ,2)
    missing_cols_df = pd.DataFrame({'missing_columns' : missing_cols, 'percent_columns_missing' : percent_cols_missing})
    return missing_cols_df
missing_cols(df)

                              missing_columns  percent_columns_missing
typeconstructiontypeid                    223                     0.29
storytypeid                                50                     0.06
heatingorsystemtypeid                   49572                    63.90
buildingclasstypeid                        15                     0.02
architecturalstyletypeid                  207                     0.27
airconditioningtypeid                   25007                    32.23
basementsqft                               50                     0.06
buildingqualitytypeid                   49810                    64.20
calculatedbathnbr                       76964                    99.21
decktypeid                                614                     0.79
finishedfloor1squarefeet                 6037                     7.78
calculatedfinishedsquarefeet            77379                    99.74
finishedsquarefeet12                    73924                    95.29
finishedsquarefeet13                       42                     0.05
finishedsquarefeet15                     3027                     3.90
finishedsquarefeet50                     6037                     7.78
finishedsquarefeet6                       386                     0.50
fireplacecnt                             8289                    10.68
fullbathcnt                             76964                    99.21
garagecarcnt                            25520                    32.90
garagetotalsqft                         25520                    32.90
hashottuborspa                           1539                     1.98
lotsizesquarefeet                       69322                    89.36
poolcnt                                 16174                    20.85
poolsizesum                               869                     1.12
pooltypeid10                              465                     0.60
pooltypeid2                              1074                     1.38
pooltypeid7                             15079                    19.44
propertyzoningdesc                      50477                    65.06
regionidcity                            76108                    98.10
regionidneighborhood                    30974                    39.93
regionidzip                             77530                    99.94
threequarterbathnbr                     10106                    13.03
unitcnt                                 50704                    65.36
yardbuildingsqft17                       2393                     3.08
yardbuildingsqft26                         70                     0.09
yearbuilt                               77310                    99.65
numberofstories                         17599                    22.68
fireplaceflag                             172                     0.22
structuretaxvaluedollarcnt              77465                    99.85
taxvaluedollarcnt                       77579                   100.00
landtaxvaluedollarcnt                   77578                   100.00
taxamount                               77575                    99.99
taxdelinquencyflag                       2900                     3.74
taxdelinquencyyear                       2900                     3.74
censustractandblock                     77333                    99.68
airconditioningdesc                     25007                    32.23
architecturalstyledesc                    207                     0.27
buildingclassdesc                          15                     0.02
heatingorsystemdesc                     49572                    63.90
storydesc                                  50                     0.06
typeconstructiondesc                      223                     0.29

Same observation on columns. Going to get rid of data that has over 5% missing

# Prepare

### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.